html,body,.container{
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}
h1{
    padding:0;
    margin:0;
}
/* .parent{
    height: 300px;
    width:300px;
    border:2px solid red;
    margin:50px;
    position: relative;
}
.text1{
    position: absolute;
    left:10px;
    top:-20px;

}
.text2{
    position: absolute;
    right: -30px;
    top:40%; 
   
}
.text3{
    position: absolute;
    bottom:-18px;
    left:35%;
}
.content h1 {
    width:200px;
    border:2px solid red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .content h1:hover{
    overflow: visible;
} */
